.emptyCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 2% 15%;
  font-size: 1rem;
  text-align: center;
  padding: 1.7rem 0;
  justify-content: space-evenly;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.titleDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  padding-bottom: 2vh;
  border-radius: 0.5rem 0.5rem 0 0;
  border-bottom: solid rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 4rem;
  color: #004280;
  padding: 0 !important;
  margin: 0 !important;
  justify-self: center;
}

.text {
  margin-top: 0;
  font-size: 2rem;
  color: #004280;
  padding: 0 !important;
  margin: 0 !important;
}

.img {
  width: 80%;
  padding: 0 !important;
  margin: 0 !important;
}

.dontWorry {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
}

.btn {
  transition: 0s !important;
  display: flex;
  align-items: center;
  background: none;
  border: 1px solid #bdbdbd;
  height: 48px;
  padding: 0 24px;
  letter-spacing: 0.25px;
  border-radius: 24px;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btnDel {
  font-size: 16px;
  color: red;
}
.btnDel > .mdiDelEmpty {
  display: none;
}
.btnDel:hover {
  background-color: #ffb7b7 !important;
  color: red;
}

.btnDel:active {
  box-shadow: 0 0 0 4px #ffcccc;
  color: white;
  background-color: red !important;
}

.btnBuy {
  font-size: 16px;
  color: #004280;
}
.btnBuy > .mdiDelEmpty {
  display: none;
}
.btnBuy:hover {
  background-color: #61a2df !important;
  color: #004280;
}

.btnBuy:active {
  box-shadow: 0 0 0 4px #379eff;
  color: white;
  background-color: #004280 !important;
}

.total{
  display: flex;
  width: 90%;
  align-items: center;
  justify-content:space-evenly ;
}