.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: capitalize;
    border-radius: 5px;
    width: 15vw;
    padding: 1rem;
}

.container {
    text-decoration: none;
    text-transform: capitalize;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: antiquewhite;
    width: 50%;
    padding: 1rem;    
}

button{
    background-color: red !important;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}