.container{
    display: flex;
    justify-content: right;
    align-items: center;
    border-radius: 10%;
    transition: all 0.3s ease;
    font-style: italic;
    border: solid 2px rgba(255, 255, 255, 0);
    padding: 0 5px;

}

.container:hover{
    border: solid 2px white;
}

.number{
    color: white;
    font-size: 1.5rem;
    margin: 0;
    padding-right: 5px;    
}

.cart{
    height: 25px;
    filter: invert(1);
}