.container {
  text-decoration: none;
  text-transform: capitalize;
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
}

.container:hover {
  background-color: rgb(249, 164, 134) ;
}

.container:active {
  background-color: rgb(255, 121, 72) ;
}

.img{
  max-height: 300px;
  padding-top: 0.5rem;
}

.btn{
  opacity: 100 !important;
  color: white;
  background-color: #004280 !important;
}

.btn:hover{
  color: white;
  background-color: #0084ff !important;
}
