.container {
  text-decoration: none;
  text-transform: capitalize;
  color: black;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: white;
}

.container:hover > .info{
  background-color: #004280;
  color:white;
}

.container:active > .info{
  color: white;
  background-color: #0084ff !important;
}

.img{
  max-height: 250px;
  padding-top: 0.5rem;
}

.info{
  padding-top: 1rem;
  position: relative;
  bottom: 0;
}

.text{
  margin: 0 !important;
  padding-bottom: 1rem;
}