.CarouselContainer{
    display: flex;
    justify-content: center;
    border: solid 1px rgba(0, 0, 0, 0.158);
}

.items{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-gap: 2rem;
    padding: 2rem;
    margin: 0 8.68vmax;
    margin-bottom: 2rem;
    width: 80%;
    background-color: #f1f1f1;
    border-radius: 1rem;
    border: solid 1px rgba(0, 0, 0, 0.158);
}