@font-face {
  font-family: heroGamesFont;
  src: url(../../fonts/hiJack.ttf);
}

.topPage {
  display: grid;
  grid-template-rows: repeat(2, auto);
  background-color: #004280;
  width: 100vw;
}

.topPage__Up {
  display: flex;
  width: 95%;
  justify-self: center;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 1rem;
  border-bottom: 1px solid rgb(136, 136, 136);
}


.topPage__Down {
  display: flex;
  justify-content: space-around;
}

.brand {
  display: block;
  font-family: heroGamesFont;
  color: aliceblue;
  font-size: 2rem !important;
  margin: 0;
}

button {
  background-color: rgba(0, 0, 0, 0) !important;
  color: aliceblue;
  transition: 0.3s !important;
}

button:hover {
  color: #004280;
  background-color: aliceblue !important;
}
