.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #004280;
    color: #fff;
    width: 100vw;
}

p{
    margin-block-start: 5%;
    margin-block-end: 0%;
}

.redes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    padding: 1rem;
}

.img{
    width: 2rem;
    height: 2rem;
}