.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.number{
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0;
    padding: 0.5rem;
}

.cart{
    height: 25px;
    filter: invert(1);
}